{% extends "base.jinja" %}

{% set query = '((ti:serverless OR abs:serverless OR ti:"function-as-a-service" OR abs:"function-as-a-service") AND (ti:cloud OR abs:cloud OR ti:distributed OR abs:distributed OR ti:scalable OR abs:scalable OR ti:deployment OR abs:deployment OR ti:systems OR abs:systems OR ti:architecture OR abs:architecture OR ti:performance OR abs:performance OR ti:cost OR abs:cost OR ti:management OR abs:management OR ti:provisioning OR abs:provisioning OR ti:orchestration OR abs:orchestration OR ti:"auto-scaling" OR abs:"auto-scaling" OR ti:"containerization" OR abs:"containerization" OR ti:containers OR abs:containers OR ti:microservices OR abs:microservices OR ti:function OR abs:function))' %}
{% set description = 'Research on serverless computing, also known as Function-as-a-Service (FaaS), focuses on abstracting underlying infrastructure to enable event-driven, on-demand execution with automatic scaling, exploring aspects like performance, cost-efficiency, and deployment complexity.' %}
{% set name = 'Serverless' %}
{% set max_papers = 10 %}
{% set max_selected_papers = 2 %}

{{ super() }}
